:root {
  --primary: #b670f4;
  --radius: 12px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f7fa;
  color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.calendar {
  width: 45%;
  padding: 15px;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: var(--radius);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.95);
}

.calendar--nav {
  margin: -15px -15px 15px;
  padding: 0 15px;
  background-color: var(--primary);
  color: #fff;
  height: 70px;
  position: relative;
}

.calendar--nav a {
  position: absolute;
  cursor: pointer;
  left: 10px;
  font-size: 32px;
  line-height: 1;
  top: 16px;
  width: 30px;
  text-align: center;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  user-select: none;
}

.calendar--nav a:hover {
  color: #fff;
}

.calendar--nav a:last-child {
  left: auto;
  right: 10px;
}

.calendar--nav h1 {
  margin: 0;
  position: absolute;
  left: 40px;
  right: 40px;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 30px;
  line-height: 66px;
  user-select: none;
}

.calendar--nav small {
  font-weight: 300;
  font-size: 60%;
}

.calendar--days {
  font-size: 0;
}

.calendar--days span {
  width: calc(100% / 7);
  display: inline-block;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 8px 0;
  line-height: 34px;
  position: relative;
  font-size: 16px;
}

.calendar--days span.label {
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  cursor: initial;
}

.calendar--days span.active {
  font-weight: 700;
  background-color: rgba(var(--primary), 0.95);
  border-radius: var(--radius);
}

.calendar--days span.muted {
  color: rgba(0, 0, 0, 0.3);
}

.calendar--days span.start,
.calendar--days span.between,
.calendar--days span.end {
  background-color: var(--primary);
  color: #fff;
}

.calendar--days span.start {
  border-radius: var(--radius) 0 0 var(--radius);
}

.calendar--days span.end {
  border-radius: 0 var(--radius) var(--radius) 0;
}

.calendar--days span.start.end {
  border-radius: var(--radius);
}

.calendar--days span.between:nth-child(7n)::after,
.calendar--days span.start:nth-child(7n)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background-color: var(--primary);
  width: 20px;
}

.calendar--days span.between:nth-child(7n + 1)::after,
.calendar--days span.end:nth-child(7n + 1)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  background-color: var(--primary);
  width: 20px;
}

.calendar--days span.start.end::after {
  display: none;
}

.calendar--days span.selected {
  background-color: var(--primary);
  color: #fff;
  border-radius: var(--radius);
}
